__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

venv/
env/
.venv/
env.bak/
venv.bak/

.ipynb_checkpoints/
.vscode/
.idea/

.env
.streamlit/secrets.toml

.DS_Store
Thumbs.db

*.parquet
*.csv

*.pkl

!Models/**/*.pkl

!**/.gitkeep

# Folder Private
Private/